{% extends "base.html" %}
{% block content %}
<!-- Form and link for login, register -->
<div class="register-class ">
    <div class="col-12">
        <div class="text-center">
            <form method="post" class="text-center mb-5">
                {% csrf_token %}
                <h2 class="mb-3">Contact Task Reminder</h2>
                <p class="mb-3">We will get back to you as soon as possible!</p>
                {{ form.as_p}}
                <button type="submit" class="mb-3 btn btn-success">Send message</button>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </form>
            <p class="text-center ">Go back to <a class="links-for-all" href="{% url 'Homepage' %}"><strong>
                        Homepage</strong></a></p>
        </div>
    </div>
</div>
{% endblock %}