{% extends "base.html" %}
{% block content %}
<!-- Message for succes or errors -->
{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<div class="alert alert-warning alert-dismissible " role="alert">
    <li>{{ message }}</li>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% elif message.tags == 'success' %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}
{% endif %}
<!-- Create account/login -->
<div class="container-task">
    <div class="cool-color-here ">
        <h2 id="task-add ">Create task</h2>

        <i class="fa-solid fa-pen-fancy penn-icon"></i>
    </div>

    <div class="task-add-box ">
        <h3 class="text-center mb-4">Create an account to get started!</h3>
        <p class="text-center ">Get started <a class="links-for-all" href="{% url 'register' %}"><strong>
                    Here</strong></a></p>
        <p class="text-center">Already have account? <a class="links-for-all"
                href="{% url 'login' %}"><strong>Login</strong></a></p>
    </div>
</div>
{% endblock %}