{% extends "base.html" %}

{% load static %}

{% block content%}
   
<div class="cool-color-here container-fluid" >
    <h1>User task title</h1>
    {% for users in user %}
    <h2>{{ users.title }}</h2>
    <h3>{{ users.name }}</h3>
    {% endfor %}

    <h1>All tasks here</h1>
    {% for tasks in user_task %}
    <h2>{{ tasks.title }}</h2>
    <p>{{ tasks.task_list }}</p>
    <p>{{ tasks.description }}</p>
    <p>{{ tasks.due_date }}</p>
    {% endfor %}

    <h1>All tasks comments</h1>
    {% for comment in task_comment %}
    <h2>{{ comment.title }}</h2>
    <p>{{ comment.task_list }}</p>
    <p>{{ comment.task_content }}</p>
    <p>{{ comment.created_at }}</p>
    {% endfor %}

</div>

    {% endblock %}