{% extends "base.html" %}
{% block content %}
<!-- Form and link for login, register -->
<div class="register-class ">
    <div class="col-12">
        <div class="text-center">
            <form method="post" class="text-center mb-5">
                {% csrf_token %}
                <h2 class="mb-5">Access Your Account</h2>
                {{ form.as_p}}

                <button type="submit" class="mb-3 btn btn-success">Sign in</button>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </form>
            <p class="text-center ">Don't have an account?<a class="links-for-all" href="{% url 'register' %}"><strong>
                        Register</strong></a></p>
        </div>
    </div>
</div>
{% endblock %}