{% extends "base.html" %}
{% block content %}
<h1>Create Your Account</h1>
<form method="post" class="col-8 text-center" >
        {% csrf_token %}
        {% for field in form %}
            <p>{{ field.label_tag }}</p>
            {{ field }}
                <ul>
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                </ul>
        {% endfor %}
    <button type="submit" id="first-button" value="Register">Sign up</button>
    <p class="text-center">Already have an account?<a class="links-for-all" href="{% url 'login' %}"><strong>Log in here</strong></a> </p>
</form>
{% endblock %}