{% extends "base.html" %}
{% block content %}

<!--Dropdown to show the form-->
<div class="container-task">
    <div class="cool-color-here">
        <h2 id="task-add">Create task</h2>
        <button class="addbutton">Add</button>
        <i class="fa-solid fa-pen-fancy penn-icon"></i>
    </div>
    <div class="task-add-box">
        <form method="post" class="formdetails text-center">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" id="first-button">Add task</button>
        </form>
    </div>
</div>
<!--Showing the task-->
<div class="for-each-task mb-3">
    {% for task in allinfo %}
    <div class="tasks-header mb-3 {% if task.completed %}new-header{% endif %}">
        <h2>{{ task.title }}</h2>
        <button class="task-buttons">open</button>
    </div>
    <div class="task-details">
        <p><strong>To Do: </strong>{{ task.description }}</p>
        <p> <strong>Before: </strong>{{ task.due_date| date:'Y-m-d' }} <strong>At </strong> {{ task.time_date }}</p>
        <div class="d-flex mb-2">
            <form method="get" action="{% url 'delete_site' task.pk %}" class="me-2">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            <form method="get" action="{% url 'updating_task' task.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Edit</button>
            </form>
        </div>
    </div>
    {% empty %}
    {% endfor %}
</div>
{% endblock %}