*{
    margin:0;
    padding:0;
}


/*Header*/

.header-bar{
    background-color: #4b4e6d;
    
}

/*Main*/

.cool-color-here{
    background-color: #a5a6b9;

}

/*Footer*/
.color-footer{
    background-color: #4b4e6d;
}
