{% load static %}
{% url 'Homepage' as Homepage_url %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS stylesheet-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!--- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <title>Task Reminder</title>
</head>

<body>
  <!-- Header -->
  <header class="header-bar">
    <!-- Nav button and title -->
    <div class="col no-display-block"></div>
    <div class="text-center next-screen">
      <h1 id="title-task">Task Reminder</a></h1>
      <div class="bigger-nav">
        {%if request.user.is_authenticated %}
        <a class="button-big" href="{% url 'task-create' %}">Home</a>
        <a class="button-big" href="{% url 'logout' %}">logout</a>
        {% else %}
        <a class="button-big" href="{% url 'Homepage' %}">Home</a>
        <a class="button-big" href="{% url 'register' %}">Sign up</a>
        <a class="button-big" href="{% url 'login' %}">Login</a>
        {% endif %}
      </div>
    </div>
    <div class="dropdown col button-nav-div no-nav-bar">
      <a href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-arrow-down-short-wide color-hover"></i>
      </a>
      <!-- Navbar after 400px -->
      <ul class="dropdown-menu">
        {%if request.user.is_authenticated %}
        <li><a class="dropdown-item" href="{% url 'task-create' %}">Home</a></li>
        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
        {% else  %}
        <li><a class="dropdown-item" href="{% url 'Homepage' %}">Home</a></li>
        <li><a class="dropdown-item" href="{% url 'register' %}">Sign up</a></li>
        <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
      </ul>
      {% endif %}
      </ul>
    </div>
  </header>
  {%if request.user.is_authenticated %}
  <span class="text-center user-name">User: <strong>{{ request.user.username }}</strong></span>
  {% endif %}
  <!-- Main Content -->
  <main>
    {% block content %}
    <!-- Content -->
    {% endblock %}
  </main>
  <!-- Footer -->
  <footer class="color-footer">
    <div class="div-footer">
      <p>&copy; Task Reminder</p>
    </div>
  </footer>
  <!-- Javascript, bootstrap Javascript -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous">
  </script>
  <script src="{% static 'js/script.js' %}"></script>
  <!--Font Awesome -->
  <script src="https://kit.fontawesome.com/482a5ab2aa.js" crossorigin="anonymous"></script>
</body>

</html>